@{
    ViewBag.Title = "Coach Listing";
    var pagedList = (IPagedList)ViewBag.OnePageOfCoaches;

}
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Mvc.Core.Common;

<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />
<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>
<a asp-action="Create" class="btn btn-outline-info">Create</a>
<a asp-action="Update" class="btn btn-outline-info">Edit</a>
<table class="table">

    <tr><td>Id</td><td>First Name</td><td>Last Name</td><td>Work Experience</td><td>Actions</td></tr>

    @foreach (var item in ViewBag.OnePageOfCoaches)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>@item.WorkExperience</td>

 <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id } ) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "coachItem" })

            </td>
        </tr>
    }

</table>

@Html.PagedListPager((IPagedList)ViewBag.OnePageOfCoaches, page => Url.Action("Index", new { page }), new PagedListRenderOptions
{
    LiElementClasses = new string[] { "page-item" },
    PageClasses = new string[] { "page-link" }
})

@section scripts
{
    <script type="text/javascript">

        $(function () {
            $.ajaxSetup({ cache: false });
            $(".coachItem").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })
    </script>
}